.section-padding{
    padding: 100px 0px;
}


// .section-title{
//     margin-bottom: 75px;
//     h2{
//         text-align: center
//     }
// }


.form-control{
    height: 50px;
    border-color: $border;
    transition: all .2s ease-in-out;
    &:hover,&:focus,&.active{
        box-shadow: none;
        border-color: $primary;
    }
}








