
$pp: 'Open Sans', sans-serif;
// $pp: 'Poppins', sans-serif;





// Color Variable
$primary    : #1393CB;
$secondary  : #673bb7;
$success    : #4caf50;
$info       : #17a2b8;
$danger     : #ff5722;
$warning    : #ffc107;
$dark       : #6a707e;
$light      : #f8f9fa;
$muted      : #abafb3; 

///////////////
// Solid Color
///////////////
$white      : #fff;
$black      : #000;
$td :#161c2d;
$tl: #869ab8;


$border:#f1f4f8;